In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
sn.set()
from sklearn.linear_model import LinearRegression

In [3]:
data=pd.read_csv('C:\\Users\\navab\\Downloads\\real_estate_price_size_year.csv')

In [4]:
data.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [6]:
x=data[['size','year']]
y=data['price']

In [7]:
reg=LinearRegression()

In [8]:
reg.fit(x,y)

LinearRegression()

In [9]:
reg.score(x,y)

0.7764803683276793

In [10]:
reg.coef_

array([ 227.70085401, 2916.78532684])

In [11]:
reg.intercept_
x1=x.shape
x1

(100, 2)

In [16]:
r=reg.score(x,y)
n=x1[0]
p=x1[1]
r2=1-(1-r)*(n-1)/(n-1-p)
r2

0.39203134825134

In [17]:
def adgr2(r2,n,p):
    return 1-(1-r2)*(n-1)/(n-p-1)

In [18]:
adgr2(r,n,p)

0.39203134825134

In [36]:
nd=pd.DataFrame(data=[750],columns=['size'])
nd['year']=2009
nd

   size  year
0   750  2009

In [37]:
reg.predict(nd)

array([258330.34465995])